<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="errorFile">../logs/errors.log</Property>
        <Property name="infoFile">../logs/info.log</Property>
    </Properties>
    <Appenders>
        <Console name="ErrorConsole" target="SYSTEM_OUT">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="ErrorFile"
                     fileName="${errorFile}"
                     filePattern="../logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.error.log.zip"
        >
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="InfoFile"
                     fileName="${infoFile}"
                     filePattern="../logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.info.log.zip"
        >
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="ErrorConsole"/>
            <AppenderRef ref="InfoFile"/>
        </Root>
    </Loggers>
</Configuration>